.navbar-links {
  display: flex;
  align-items: center; /* Center aligns the links vertically */
  gap: 2rem; /* Space between the links */
}

.nav-link {
  color: goldenrod; /* Link color */
  text-decoration: none; /* Remove underline */
  transition: color 0.3s; /* Smooth color transition */
}

.nav-link:hover {
  color: #f39c12; /* Change color on hover */
}

.primary-button {
  background-color: #f39c12; /* Button color */
  color: goldenrod; /* Button text color */
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none; /* Remove border */
  cursor: pointer; /* Pointer cursor */
  text-decoration: none; /* Remove underline */
  transition: background-color 0.3s; /* Smooth background transition */
}

.primary-button:hover {
  background-color: whitesmoke; /* Change button color on hover */
}
